#button {
	display: none;
}

#centerp{
  text-align: center;
  width: 50%;
  padding-left: 25%;
  color: rgba(19, 19, 24, 0.7)
}
#h2ptext{
  color: rgba(19, 19, 24, 0.7);
}


.find_travle {
	background-image: url("../img/group13.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	border-radius: 17px;
	padding-top: 5%;
	padding-bottom: 7%;
	overflow: hidden;
}

#submit {
	height: 52px;
	width: 174px;
	text-align: center;
	border: none;
	color: #fff;
	background-color: #FF5400;
	border-radius: 10px;
	font-weight: bold;
}

.cd {
  text-align: center;
  margin-top: 5%;
  overflow: hidden;
}

.cd h2 {
  color: white;
}

.cd1_left {
  background-image: url(../img/Rectangle\ 5.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cd1_right {
  background-image: url(../img/Rectangle\ 8.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cd2_left {
  background-image: url(../img/Rectangle\ 6.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cd2_middle {
  background-image: url(../img/Rectangle\ 7.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cd2_right {
  background-image: url(../img/Rectangle\ 9.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cd3_left {
  background-image: url(../img/Rectangle\ 11.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cd3_right {
  background-image: url(../img/Rectangle\ 10.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.deals1 {
  width: 100%;
  overflow: hidden;
  background-image: url(../img/Group\ 39.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 2%;
}

.deals2 {
  width: 100%;
  overflow: hidden;
  background-image: url(../img/Group\ 40.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 2%;
}

.deals3 {
  width: 100%;
  overflow: hidden;
  background-image: url(../img/Group\ 39.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 2%;
}

.deals1 {
  width: 100%;
  overflow: hidden;
  background-image: url(../img/Group\ 39.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 2%;
}

#deals {
	width: 92%;
	margin: 3%;
	background-color: rgba(255,255,255,0.8);
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	border-radius: 15px;
	padding-top: 1%;
	margin-top: 30%;
}

.deals h1 {
	text-align: center;
}

#deal {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
}

#deal h2{
  margin-top: 0%;
}

#dateinfo ul {
  float: left;
  list-style: none;
  width: 100%;
  padding-left: 0%;
}

#dateinfo li {
  float: left;
  font-size: 15px;
  padding-left: 3px;
}

#dateinfo img {
  width: 15px;
  padding-right: 12px;
}

#dateinfo{
  overflow: hidden;
}

#deals p{
  color: #5A5A5D;
}
#deals button {
  width: 150px;
  height: 52px;
  border: none;
  background-color: #FF5400;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  border-radius: 15px;
}

#price {
  color: #FF5400;
}

#pabutton {
	width: 250px;
	height: 52px;
	border: none;
	background-color: #FF5400;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	border-radius: 15px;
	margin-left: 28%;
	margin-top: 3%;
	text-align: center;
}

.simpleplace button {
  width: 150px;
  height: 52px;
  border: none;
  background-color: #FF5400;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  border-radius: 15px;
}